
body
{
    background-color:#FCFCFC;
    font-family:Helvetica Neue, AGaramond, sans-serif;
    font-size:16;
    color: #000000;
    margin-bottom: 200px;
}


a {
    font-weight:bold;
    text-decoration:none;
}

a:link {
    text-decoration:none;
    }

a:active {
    text-decoration:none;
    color:#0099FF
}

#main
{
    margin-top: 45px;
	text-align: left;
	width: 600px;
    margin:auto;

}

#header {
    margin-top: 130px;
    margin-bottom: 55px;
    font: 400 36px "Helvetica Neue";
    text-align: center;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,39,76,.92); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


#text1{
    position: absolute;
    top: 50%;
    left: 50%;
    font: 300 30px "Helvetica Neue";
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.desc{
    margin-left: 25px;
}
